
.Weather {
  margin: 10px auto;
  border: 3px solid white;
  background-color: #B4C9D5;
  padding: 0px 0px 20px;
  border-radius: 4px;
  padding: 0px 60px;
} 
.Weather h1 {
  text-transform: uppercase;
  font-weight: 700;
  color: #588790;
  text-align: center;
  line-height: 1.5;
  padding: 20px 0 20px;
}

.Weather form {
  margin-bottom: 20px;
  padding-left: 15px;
}

.Weather input::placeholder {
  font-size: 20px;
}

.Weather .button {
  position: absolute;
  font-size: 22px;
  color: #588790;
  padding: 5px 10px;
  right: 35px;
  border: 1px solid #588790;
  background: white;
  border-radius: 10px;
  transition: all 200ms ease;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.Weather .button:hover {
  color: #588790;
  border: 4px double #588790;
}

.Weather .WeatherDescription {
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 700;
}

.Weather .temperature {
  line-height: 64px;
  font-size: 48px;
  display: inline;
  margin-left: 10px;
}

.Weather .units {
  vertical-align: 100%;
  margin-left: 5px;
}

.Weather .currentLocation {
  font-size: 30px;
}

.Weather ul {
margin: 0;
padding: 0;
}

.Weather li {
  list-style: none;
}
.Weather canvas {
margin-top: 10px;
display: inline-block;
}

.Weather .future {
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  font-size: 25px;
  font-weight: 700;
  color: #588790;
  border-top: 4px double #588790;
  border-bottom: 4px double #588790;
  margin: 20px 0px 40px;
}